.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titlePage {
  font-size: 1.8rem;
  font-weight: 400;
}

.description {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
  width: 80%;
}
.banner {
  width: 100%;
  height: 350px;
}
