.footer {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}

.li {
  list-style: none;
  line-height: 1.5;
  font-size: 0.725rem;
  span {
    font-size: 0.8rem;
  }
}

.list {
  text-decoration: none;
  color: black;
}
