.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 0.2px solid lightgray;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navItem {
  margin: 0 10px;
  color: black;
  font-weight: 400;
  text-decoration: none;
}
