.container {
  display: grid;
}

.leftBox {
  position: relative;
  top: 48%;
  text-align: center;
  transform: translate(0, -50%);
}

.rightBox {
  position: relative;
  top: 20%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 3rem;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
}
